
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div>
    <section>
        <blockquote>
            <p>
                <img src="~/Content/img/kook.jpg" width="500" height="311" />
                "Кулинария — это химия, в которой можно добиться разных результатов, варьируя ингредиентами."
            </p>
            <cite>Себастьян Михаэлис</cite>
        </blockquote>
        <p>Добро пожаловать на наш кулинарный сайт!</p>
        <p>
            Здесь вы найдете рецепты самых наивкуснейших блюд. Заходите к нам на сайт почаще и Вы не только
            научитесь, но и полюбите готовить! Главный секрет вкусного блюда — это когда вы готовите его с радостью,
            с хорошим настроением и уверенностью в том, что у Вас все получиться! Наш сайт Вам в этом поможет!
        </p>
        <p>Приятного аппетита, друзья!</p>
    </section>
</div>

